<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>About Us</title>
</head>
<body>
    <div class="about">
    <header class="navbar">
        <div class="hcontainer">
            <div class="logo"><a href="home.html">Recipe App</a></div>
            <nav>
                <ul class="nav-links">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="index.html" class="find">Find</a></li>
                </ul>
            </nav>
        </div>
    </header>
    </div>
    <div></div>
    <div class="container">
        <h1>Welcome to Recipe App!</h1>
        <p>At Recipe App, we believe that meal planning should be simple, sustainable, and inspiring. Our AI-powered application is designed to help you discover recipes tailored to your preferences, making it easier than ever to choose meals that fit your lifestyle. By streamlining the decision-making process, we aim to take the stress out of planning your next meal.</p>
        <p>But our mission goes beyond convenience. We're committed to helping you reduce food waste, live a more sustainable life, and grow your cooking skills. Whether you're exploring new cuisines or looking to make the most of the ingredients you have on hand, Recipe App is here to guide you every step of the way.</p>
        <p>Start your journey to effortless and enjoyable cooking with Recipe app today!</p>
    </div>
    <footer style="text-align: center; padding: 20px; background-color: #f8f8f8; border-top: 1px solid #ccc;">
        <p>&copy; Made by Group 4</p>
        <div>
            <a href="#" style="margin: 0 20px; text-decoration: none; color: #0084ff;">[Our Socials Klo Ada]</a>
        </div>
    </footer>
</body>
</html>